.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  text-align: left;
}

div {
  margin-bottom: 15px;
}

label {
  margin-right: 10px;
}

button {
  display: block;
  margin-top: 10px;
}
